body {
  background-color: #ebc186;
}
h1 {
  text-align: center;
  color: brown;
  font-size: 40px;
}
p {
  text-align: center;
  color: #642405;
  font-size: 20px;
}
.croissant-photo {
  max-width: 70%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: purple;
}
